head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title=site.title
  meta(name="Description" content=site.description)
  meta(property="og:image" content=site.ogImage)
  meta(property="og:title" content=site.title_for_sharing)
  meta(property="og:description" content=site.description)
  meta(property="og:url" content=site.url)
  meta(property="og:locale" content="ko_KR")
  meta(property="og:site_name" content=site.title_for_sharing)
  meta(property="og:type" content="website")
  link(href="/style.css" rel="stylesheet")