include includes/locals.pug

doctype html
html(lang="ko-KR")
  include includes/head.pug
  body
    include includes/header.pug
    main 
      h2= pageTitle
      p= description
      ul
        each post in posts
          - const year = String(post.created_at.getFullYear());
          - const month = String(post.created_at.getMonth() + 1).padStart(2, "0");
          - const date = String(post.created_at.getDate()).padStart(2, "0");
          li
            a(href="posts/"+post.slug)
              article
                h3= post.title
                p= post.summary
                time(datetime=post.created_at) #{year}/#{month}/#{date}
            //- ul
            //-   each tag in post.tags
            //-     li= tag
    include includes/footer.pug