- const SITE_NAME = "Ben의 기술 블로그"

doctype html
html(lang="ko-KR")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    meta(name="Description" content=description)
    meta(property="og:image" content=ogImage)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:url" content=ogURL)
    meta(property="og:locale" content="ko_KR")
    meta(property="og:site_name" content=SITE_NAME)
    meta(property="og:type" content="website")
  body
    h1= SITE_NAME
    nav 
      ul
        li
          a(href="/")="About"
        li
          a(href="/posts")="Posts"
    //- DB에 있는 내용을 가져와서 보여준다.
    h2= pageTitle
    ul
      each post in posts
        li
          a(href=post.title)
            h3= post.title
            p= post.summary
