doctype html
html(lang="ko-KR")
  include includes/head.pug
  body
    include includes/header.pug
    main 
      article
        header
          //- - const year = String(post.created_at.getFullYear());
          //- - const month = String(post.created_at.getMonth() + 1).padStart(2, "0");
          //- - const date = String(post.created_at.getDate()).padStart(2, "0");
          h2= post.title
          ul 
            each tag in post.tags 
              li= tag
          time(datetime=post.created_at) #{new Intl.DateTimeFormat('ko-KR', { dateStyle: 'full' }).format(post.created_at)}
        main !{post.content}
    include includes/footer.pug
